@import "tailwindcss";
/*reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

/*nav*/
.Nav{
    padding: 3rem;
    margin-top: -4%;
}


/*Home*/
.btn-perso{
    padding: 8px;
    margin-top: 2%;
}


/*footer*/
.c-rodape{
    background-color: rgb(42, 165, 58);
}

.section-pdp{
    background-color: rgb(18, 161, 18);
}

.icons-socials{
    background-color: rgb(42, 165, 63);
}