@import "tailwindcss";
/*reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

/*nav*/
.Nav{
    padding: 3rem;
    margin-top: -4%;
}

.Nav img{
    width: 200px;
}


/*Home*/
.btn-perso{
    margin-top: 2%;
    transition: transform 0.3s ease;
}

.btn-perso:hover{
    transform: scale(1.05);
}

.btn-nav{
    padding: 5px !important;
}

/*footer*/
.c-rodape{
    padding: 50px;
}

.c-rodape h3{
    margin-bottom: 10%;
}

.section-links-uteis{
    margin: 0% 5% 0% 5%;
}

.section-pdp, .icons-socials a{
    padding: 10px;
}

.pad20{
    padding: 20px;
}

.padm5{
    padding: 5px;
    margin: 5% 0% 5% 0%;
}

.c-rdp form,h2{
    padding: 20px;
}

.c-rdp form label,input{
    padding: 10px;
}

.c-rdp form button{
    padding: 5px;
}

.c-rdp form button{
    margin-top: 5%;
}

.ring-gradient-verde {
    border-image: linear-gradient(to right, green, lightgreen) 1;
}

.c-depoimento{
    padding: 10px;
    gap: 20px;
}

.depoimento{
    padding: 10px;
}

#seg{
    margin: 0px 20px 0px 20px;
}